body {
  /*min-height: 2000px;*/
  font-family: 微软雅黑;
  padding-left:20px;
  padding-right:20px;
}

.Schimmer_num{
	max-width:100px;
}

#myTabContent{
	padding-top:10px;
}

.col-md-4 {
	padding-top:5px;
	padding-bottom:5px;
}

.col-md-8 {
	padding-top:5px;
	padding-bottom:5px;
}

#check{
	float:left;
	margin-left:15px;
}

.col-md-6 {
	padding-top:5px;
	padding-bottom:5px;
}

.col-md-2 {
	padding-top:5px;
	padding-bottom:5px;
}

.col-md-10 {
	padding-top:5px;
	padding-bottom:5px;
}

.form-text{
	padding:5px;
}

#smartMenu li:hover{
    background-color:#f5f5f5;
}

#smartMenu li{
    list-style:none;
    cursor:default;
}