<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title>{% block title %}{% endblock %}</title>
{% load staticfiles %}
{% block baseLink %}
    {% block bootstrapcss %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/messenger.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/messenger-theme-air.css" %}">
{% endblock %}
{% block extLink %}{% endblock %}
</head>
<body>
<div id='header'>
    {% block header %}{% endblock %}
</div>
<div id='body'>
    {% block body %}{% endblock %}
</div>
<div id='footer' style='padding:10px 20px; text-align:center;'>
    {% block footer %}
        
    {% endblock %}
</div>

{% block baseJS %}
    <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    {% block bootstrapjs %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock %}
{% endblock %}
{% block extJS %}{% endblock %}
</body>
</html>
