{% extends "base.html" %}
{% block content %}
    <ul id="myTab" class="nav nav-tabs">
        <li><a href="#BaseData" data-toggle="tab">基本信息</a></li>
        <li><a href="#FormData" data-toggle="tab">修复信息</a></li>
        <li class="active"><a href="#RPDDesign" data-toggle="tab">修复设计</a></li>
        <li><a href="#RPDCheck" data-toggle="tab">制作工序及检验</a></li>
        <li style="margin-right: 10px;"><input type="button" class="pure-button green_btn" onclick="submitData(false);" value="保存"></li>
        <li style="margin-right: 10px;"><input type="button" class="pure-button blue_btn" onclick="window.open('/showVisit?IDnum={{ IDnum }}&method=print','print');" value="打印"></li>
        <li style="margin-right: 10px;"><input type="button" class="pure-button red_btn" onclick="returnToList();" value="返回"></li>
        <li><input type="button" class="pure-button yellow_btn" onclick="submitData(true);" value="方案推荐"></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="BaseData">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="IDnum" class="col-md-1 control-label">病历号：</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" id="IDnum" value="{{ IDnum }}">
                    </div>
                    <label class="col-md-1 control-label">修复类型：</label>
                    <div class="col-md-2">
                        {% ifequal RType 1 %}
                            <label class="radio-inline">
                                <input type="radio" name="RepairType" value=1 checked="checked"/>固定类
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="RepairType" value=2 />活动类
                            </label>
                        {% else %}
                            <label class="radio-inline">
                                <input type="radio" name="RepairType" value=1 />固定类
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="RepairType" value=2 checked="checked"/>活动类
                            </label>
                        {% endifequal %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="Pname" class="col-md-1 control-label">患者姓名：</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" id="Pname" value={{ patient.pname }}>
                    </div>
                    <label for="PIDnum" class="col-md-1 control-label">身份证号：</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="PIDnum" value={{patient.idnum}}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Sexual" class="col-md-1 control-label">性别：</label>
                    <div class="col-md-1">
                        {% ifequal patient.P_sexual 2 %}
                            <label class="radio-inline">
                                <input type="radio" name="Sexual" value=1 />男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Sexual" value=2 checked="checked"/>女
                            </label>
                        {% else %}
                            <label class="radio-inline">
                                <input type="radio" name="Sexual" value=1 checked="checked"/>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Sexual" value=2 />女
                            </label>
                        {% endifequal %}
                    </div>
                    <label for="Age" class="col-md-1 control-label">年龄：</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" id="Age" value={{patient.P_page}}>
                    </div>
                    <label for="Phonenum" class="col-md-1 col-md-offset-1 control-label">联系电话：</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="Phonenum" value={{patient.phonenum}}>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="FormData">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="make_model_date" class="col-md-1 control-label">取模时间：</label>
                    <div class="col-md-2">
                        <input type="date" class="form-control" id="make_model_date" value="{{ make_model_date }}">
                    </div>
                    <label for="get_model_date" class="col-md-1 control-label">接模时间：</label>
                    <div class="col-md-2">
                        <input type="date" class="form-control" id="get_model_date" value="{{ get_model_date }}">
                    </div>
                    <label for="fee" class="col-md-1 control-label">制作费：</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="fee" value="{{ fee }}">
                    </div>
                    {% ifequal RType 1 %}
                        <label for="gold_use" class="col-md-1 control-label">用金量：</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="gold_use" value="{{ gold_use }}">
                        </div>
                    {% endifequal %}
                </div>
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">复诊日期</div>
                        <div class="panel-body">
                            {% ifequal RType 1 %}
                                <div class="form-group">
                                    <label for="try_paraffin" class="col-md-1 control-label">试蜡型：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_paraffin" value="{{ try_paraffin }}">
                                    </div>
                                    <label for="try_stake" class="col-md-1 control-label">试桩：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_stake" value="{{ try_stake }}">
                                    </div>
                                    <label for="try_crown" class="col-md-1 control-label">试冠：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_crown" value="{{ try_crown }}">
                                    </div>
                                    <label for="try_base" class="col-md-1 control-label">试基台：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_base" value="{{ try_base }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="finish_date" class="col-md-1 control-label">完成：</label>
                                    <div class="col-md-2">
                                       <input type="date" class="form-control" id="finish_date" value="{{ finish_date }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="try_cradled" class="col-md-1 control-label">试支架：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_cradled" value="{{ try_cradled }}">
                                    </div>
                                    <label for="try_paraffin" class="col-md-1 control-label">试蜡型：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_paraffin" value="{{ try_paraffin }}">
                                    </div>
                                    <label for="try_teeth_arrange" class="col-md-1 control-label">试排牙：</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control" id="try_teeth_arrange" value="{{ try_teeth_arrange }}">
                                    </div>
                                    <label for="finish_date" class="col-md-1 control-label">完成：</label>
                                    <div class="col-md-2">
                                       <input type="date" class="form-control" id="finish_date" value="{{ finish_date }}">
                                    </div>
                                </div>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">项目</div>
                            <div class="panel-body">
                                {% for p in projectList %}
                                    <div class="col-md-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="projects[]" value="{{ p.id }}" />
                                                {{ p.tname }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">修复材料</div>
                            <div class="panel-body">
                                {% ifequal RType 2 %}
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">支架：</label>
                                        {% for m in materialList %}
                                            {% ifequal m.pos 1 %}
                                                <div class="col-md-3">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="materials[]" value="{{ m.id }}" />
                                                            {{ m.mname }}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">基托：</label>
                                        {% for m in materialList %}
                                            {% ifequal m.pos 2 %}
                                                <div class="col-md-3">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="materials[]" value="{{ m.id }}" />
                                                            {{ m.mname }}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">人工牙：</label>
                                        {% for m in materialList %}
                                            {% ifequal m.pos 3 %}
                                                <div class="col-md-3">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="materials[]" value="{{ m.id }}" />
                                                            {{ m.mname }}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% for m in materialList %}
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="materials[]" value="{{ m.id }}" />
                                                    {{ m.mname }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endifequal %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">原模型检验/制作单审核</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        {% ifequal RType 1 %}
                                             <label class="col-md-4 control-label">预备体边缘：</label>
                                        {% else %}
                                            <label class="col-md-4 control-label">模型边缘：</label>
                                        {% endifequal %}
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="model_edge" value="1">清楚
                                            </label>
                                            <label>
                                                <input type="radio" name="model_edge" value="2">不清楚
                                            </label>
                                        </div>
                                        <br>
                                        <label class="col-md-4 control-label">咬合：</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="occlusion_state" value="1">稳
                                            </label>
                                            <label>
                                                <input type="radio" name="occlusion_state" value="2">不稳
                                            </label>
                                        </div>
                                        <br>
                                        <label class="col-md-4 control-label">牙合位记录：</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="occlusion_record" value="1">有
                                            </label>
                                            <label>
                                                <input type="radio" name="occlusion_record" value="2">无
                                            </label>
                                        </div>
                                        <br>
                                        <label class="col-md-4 control-label">牙体预备：</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="teeth_pre" value="1">够
                                            </label>
                                            <label>
                                                <input type="radio" name="teeth_pre" value="2">不够
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="problem" class="control-label">发现问题：</label><br><br>
                                        <textarea class="form-control" rows="5" id="problem">{{ problem }}</textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="solution" class="control-label">处理方法：</label><br><br>
                                        <textarea class="form-control" rows="5" id="solution">{{ solution }}</textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="precheck" class="col-md-3 control-label">初检签字：</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="precheck" value="{{ precheck }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="precheck_date" class="col-md-3 control-label">时间：</label>
                                            <div class="col-md-9">
                                               <input type="date" class="form-control" id="precheck_date" value="{{ precheck_date }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="finalcheck" class="col-md-3 control-label">终检签字：</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="finalcheck" value="{{ finalcheck }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="finalcheck_date" class="col-md-3 control-label">时间：</label>
                                            <div class="col-md-9">
                                               <input type="date" class="form-control" id="finalcheck_date" value="{{ finalcheck_date }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in active" id="RPDDesign">
            <div id="remarkInput">
	            <textarea rows="3" cols="10" id="remarkText">{{ remarkText }}</textarea><br>
	            <input type="button" class="green_btn" id = "remarkconf" edit="false" onclick="confNewRemark()" value="确认">
	            <input type="button" class="red_btn" id = "remarkgiveup" onclick="confset();" value="放弃">
            </div>

            <div id="smartMenu">
                <ul style="padding:0 0 0 0;margin:0 0 0 0;width: 130px;background-color: white;box-shadow: 3px 6px 3px #888888;font-size: medium;">
                    <li id="newRemark" onclick="setNewRemark();" >新建标注</li>
                    <li id="editRemark" onclick="editRemark();" itemid = "-1" >编辑标注</li>
                    <li id="deleteRemark" onclick="deleteRemark();" itemid = "-1">删除标注</li>
                    <li class="editTooth" onclick="deleteToothState(0);" itemid = "-1">删除缺失</li>
                    <li class="editTooth" onclick="deleteToothState(1);" itemid = "-1">删除基托</li>
                    <li class="editTooth" onclick="deleteToothState(2);" itemid = "-1">删除卡环</li>
                    <li class="editTooth" onclick="deleteToothState(3);" itemid = "-1">删除支托</li>
                    <li class="editTooth" onclick="deleteToothState(4);" itemid = "-1">删除腭/舌板</li>
                </ul>
            </div>
            <div id="mainRapper" style="margin:0 auto; margin-top:15px;" >
	            <canvas id="myCanvas" width="700" height="700" style="border:1px solid #c3c3c3;float:left;"></canvas>

	            <div id="teethnav" class="pure-form" style="float:left;text-align:left;margin-left:20px;">
                     <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <h3>请选择</h3>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="button" class="pure-button red_btn" id = "undo" onclick="OPundo();" value="撤销">
                                        <input type="button" class="pure-button green_btn" id = "redo" onclick="OPredo();" value="重做">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="control-label">智齿：</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="wteeth1" onclick="changeWTeeth();" />
                                                右上
                                            </label>
                                            &emsp;
                                            <label>
                                                <input type="checkbox" id="wteeth2" onclick="changeWTeeth();" />
                                                左上
                                            </label>
                                            &emsp;
                                            <label>
                                                <input type="checkbox" id="wteeth3" onclick="changeWTeeth();" />
                                                右下
                                            </label>
                                            &emsp;
                                            <label>
                                                <input type="checkbox" id="wteeth4" onclick="changeWTeeth();" />
                                                左下
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                       <label class="control-label">1.标记缺失牙：</label><br>
                                        <input type="button" class="pure-button red_btn" id = "lost" onclick="lostSelected();" value="缺失">
                                    </div>
                                    <div class="col-md-3 col-md-offset-1">
                                        <label for="support" class="control-label">2.绘制支托：</label>
                                        <select class="form-control" id = "support" onchange="supportSelected();">
                                            <option value="0">--请选择--</option>
                                            <option value="41" >支托</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">3.绘制卡环：</label>
                                    </div>
                                    <div class="col-md-4">
                                        工艺&emsp;
                                        <select id = "clasptype" onchange="claspSelected();">
                                            <option value="0">--请选择--</option>
                                            <option value="1" >铸造</option>
                                            <option value="2" >弯制</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        位置&emsp;
                                        <select id = "clasppos" onchange="claspSelected();">
                                            <option value="0">--请选择--</option>
                                            <option value="1" >双侧</option>
                                            <option value="2" >颊侧</option>
                                            <option value="3" >舌侧</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        类型&emsp;
                                        <select id = "clasplength" onchange="claspSelected();">
                                            <option value="0">--请选择--</option>
                                            <option value="1" >全卡</option>
                                            <option value="2" >半卡</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="base" class="control-label">4.绘制基托：</label>
                                        <select id = "base" onchange="baseSelected();">
                                            <option value="0">--请选择--</option>
                                            <option value="21" >完整基托</option>
                                            <option value="22" >只保留舌侧</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">5.绘制连接体：</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" class="pure-button blue_btn" id = "lost" onclick="blankSelected();" value="腭板/舌板">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" class = "pure-button blue_btn" id = "conn" onclick="dispConn();" value="显示连接体">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" class = "pure-button blue_btn" id = "modfconn" onclick="modfConn();" value="调整连接体">
                                    </div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-3">
                                        <div class="checkbox">
                                            <label for="topConn1">
                                                <input id="topConn1" type="checkbox" onchange="conntypechanged();"> 上颌中空
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="design_explain" class="control-label">设计说明及要求：</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="color" class="control-label">比色：</label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea rows="5" class="form-control" id="design_explain">{{ design_explain }}</textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="color" value="{{ color }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="RPDCheck">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    {% ifequal RType 1 %}
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">模型组</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="model_maker" class="control-label">制作人：</label>
                                </div>
                                 <div class="col-md-5">
                                    <input type="text" class="form-control" id="model_maker" value="{{ model_maker }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="model_checker" class="control-label">质检员：</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="model_checker" value="{{ model_checker }}">
                                </div>
                            </div>
                        </div>
                    {% endifequal %}
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">蜡型组</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="paraffin_maker" class="control-label">制作人：</label>
                                </div>
                                 <div class="col-md-5">
                                    <input type="text" class="form-control" id="paraffin_maker" value="{{ paraffin_maker }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="paraffin_checker" class="control-label">质检员：</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="paraffin_checker" value="{{ paraffin_checker }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">打磨组</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="burnish_maker" class="control-label">制作人：</label>
                                </div>
                                 <div class="col-md-5">
                                     <input type="text" class="form-control" id="burnish_maker" value="{{ burnish_maker }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="burnish_checker" class="control-label">质检员：</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="burnish_checker" value="{{ burnish_checker }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {% ifequal RType 1 %}
                                        <label class="control-label">烤瓷组</label>
                                    {% else %}
                                        <label class="control-label">排牙组</label>
                                    {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="china_arrange_makeer" class="control-label">制作人：</label>
                                </div>
                                 <div class="col-md-5">
                                     <input type="text" class="form-control" id="china_arrange_makeer" value="{{ china_arrange_makeer }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="china_arrange_checker" class="control-label">质检员：</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="china_arrange_checker" value="{{ china_arrange_checker }}">
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <script>
        //存放牙齿详细信息的矩阵
        var teethList = {{ teethList|safe }};
        //存放当前连接体片段中各曲线的顶点
        var quadraticTops = {{ quadraticTops|safe }};

        //存放备注列表
        var remarkList = [];
        //上牙连接体中空部分边界点列表
        var innerPathList = {{ innerPathList|safe }};
        //连接体形态标识
        var conntypelist = [{{ conntype_hollow }}, {{ maxilla_cover }}, {{ tongue_cover }}];
        //修复项目
        var projects = {{ projects }};
        //修复材料
        var materials = {{ materials }};

        for(var i = 0; i < projects.length; i++)
        {
            $("input[name='projects[]'][value="+projects[i]+"]").attr("checked","checked");
        }
        for(var i = 0; i < materials.length; i++)
        {
            $("input[name='materials[]'][value="+materials[i]+"]").attr("checked","checked");
        }
        $("input[name='model_edge'][value='{{ model_edge }}']").attr("checked","checked");
		$("input[name='occlusion_state'][value='{{ occlusion_state }}']").attr("checked","checked");
		$("input[name='occlusion_record'][value='{{ occlusion_record }}']").attr("checked","checked");
		$("input[name='teeth_pre'][value='{{ teeth_pre }}']").attr("checked","checked");
        $("#teethnav").width(Math.max(document.body.offsetWidth-800, 300));

        $(window).resize(function() {
            $("#teethnav").width(Math.max(document.body.offsetWidth-800, 300));
        });


		function submitData(Wait)
		{
            var Pname = $("#Pname").val();
            var PIDnum = $("#PIDnum").val();
            var Age = $("#Age").val();
            var Phonenum = $("#Phonenum").val();
            var Sexual = $("input[name='Sexual']:checked").val();
            var RepairType = $("input[name='RepairType']:checked").val();
            var make_model_date = $("#make_model_date").val();
            var get_model_date = $("#get_model_date").val();
            var finish_date = $("#finish_date").val();
            var try_paraffin = $("#try_paraffin").val();
            {% ifequal RType 1 %}
                var try_stake = $("#try_stake").val();
                var try_crown = $("#try_crown").val();
                var try_base = $("#try_base").val();
                var try_cradled = '';
                var try_teeth_arrange = '';
            {% else %}
                var try_cradled = $("#try_cradled").val();
                var try_teeth_arrange = $("#try_teeth_arrange").val();
                var try_stake = '';
                var try_crown = '';
                var try_base = '';
            {% endifequal %}
            var projects = [];
            $("input[name='projects[]']:checked").each(function (i, n) {
                projects.push(n.value);
            });
            var materials = [];
            $("input[name='materials[]']:checked").each(function (i, n) {
                materials.push(n.value);
            });
            var model_edge = 1;
            $("input[name='model_edge']:checked").each(function (i, n) {
                model_edge = n.value;
            });
            var occlusion_state = 1;
            $("input[name='occlusion_state']:checked").each(function (i, n) {
                occlusion_state = n.value;
            });
            var occlusion_record = 1;
            $("input[name='occlusion_record']:checked").each(function (i, n) {
                occlusion_record = n.value;
            });
            var teeth_pre = 1;
            $("input[name='teeth_pre']:checked").each(function (i, n) {
                teeth_pre = n.value;
            });
            var problem = $("#problem").val();
            var solution = $("#solution").val();
            var precheck = $("#precheck").val();
            var precheck_date = $("#precheck_date").val();
            var finalcheck = $("#finalcheck").val();
            var design_explain = $("#design_explain").val();
            var color = $("#color").val();
            var finalcheck_date = $("#finalcheck_date").val();

            var model_maker = '';
            var model_checker = '';
            {% ifequal RType 1 %}
                model_maker = $("#model_maker").val();
                model_checker = $("#model_checker").val();
            {% endifequal %}
            var paraffin_maker = $("#paraffin_maker").val();
            var burnish_maker = $("#burnish_maker").val();
            var china_arrange_makeer = $("#china_arrange_makeer").val();
            var paraffin_checker = $("#paraffin_checker").val();
            var burnish_checker = $("#burnish_checker").val();
            var china_arrange_checker = $("#china_arrange_checker").val();
            var fee = $("#fee").val();
            var myajaxData = {
                'teethList[]': teethList,
                'IDnum': '{{ IDnum }}',
                'quadraticTops[]': quadraticTops,
                'remarkList[]': remarkList,
                'innerPathList[]': innerPathList,
                'conntype_hollow': conntypelist[0],
                'maxilla_cover': conntypelist[1],
                'tongue_cover': conntypelist[2],
                'make_model_date': make_model_date,
                'get_model_date': get_model_date,
                'try_paraffin': try_paraffin,
                'try_stake': try_stake,
                'try_crown': try_crown,
                'try_base': try_base,
                'finish_date': finish_date,
                'try_cradled': try_cradled,
                'try_teeth_arrange': try_teeth_arrange,
                'projects[]': projects,
                'materials[]': materials,
                'model_edge': model_edge,
                'occlusion_state': occlusion_state,
                'occlusion_record': occlusion_record,
                'teeth_pre': teeth_pre,
                'problem': problem,
                'solution': solution,
                'precheck': precheck,
                'precheck_date': precheck_date,
                'finalcheck': finalcheck,
                'design_explain': design_explain,
                'color': color,
                'finalcheck_date': finalcheck_date,
                'model_maker': model_maker,
                'model_checker': model_checker,
                'paraffin_maker': paraffin_maker,
                'burnish_maker': burnish_maker,
                'china_arrange_makeer': china_arrange_makeer,
                'paraffin_checker': paraffin_checker,
                'burnish_checker': burnish_checker,
                'china_arrange_checker': china_arrange_checker,
                'fee': fee,
                'Pname': Pname,
                'PIDnum': PIDnum,
                'Age': Age,
                'Phonenum': Phonenum,
                'Sexual': Sexual,
                'RepairType': RepairType
            };

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            if(!Wait)
            {
                $.ajax({
                    type: 'POST',
                    url: '/editTeeth/',
                    data: myajaxData,
                    success: function(data){alert('保存成功！');location.reload();}
			    });
            }
            else
            {
                $.ajax({
                    type: 'POST',
                    url: '/editTeeth/',
                    data: myajaxData,
                    success: function(data){window.open('/getRecommend?IDnum={{ IDnum }}','','height=800,width=800');}
			    });
            }


		}
		function returnToList()
        {
            var conf = confirm("确认放弃未保存的工作，返回病历列表？");
            if(conf)
            {
                window.location.href = "/";
            }
        }
    </script>
    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jcanvas.min.js"></script>
	<script type="text/javascript" src="/static/js/jcanvas-handles.min.js"></script>
	<script type="text/javascript" src="/static/js/global.js"></script>
	<script type="text/javascript" src="/static/js/drawyourteeth.js"></script>
    <script>
        isconndisped = true;
        initTeethHTML();

    </script>
{% endblock %}
